
<div class="col-sm-2 col-md-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="glyphicon glyphicon-folder-close">
                        </span>Báo Cáo Doanh Thu
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-list text-primary"></span><a href="/SalesReport/ListBill">Hóa Đơn</a>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-list text-primary"></span><a href="/SalesReport/ListOrder">Đơn Đặt Hàng</a>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-list text-primary"></span><a href="/SalesReport/ListDeliveryOrder">Đơn Giao Hàng</a>
                            </td>

                        </tr>
                        
                        
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-folder-close">
                        </span><a href="/SalesReport/BusinessReports">Báo Cáo Kinh Doanh</a>
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-folder-close">
                        </span><a href="/SalesReport/CommodityAllocationReport">Báo Cáo Phân Bổ Hàng Hóa</a>
                    </a>
                </h4>
            </div>
          
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="glyphicon glyphicon-equalizer">
                        </span>Thống Kê
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

