@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/DeliveryOrder/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DeliveryOrder/deliveryorder.js"></script>
}
<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SidebarAdmin.cshtml")
        <div class="col-sm-10 col-md-10">
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        <label>Tìm theo mã giao hàng</label>
                        <input type="text" class="form-control" placeholder="Nhập mã đơn giao hàng" id="dorder">
                    </div>
                    <div class="col-md-2">
                        <label>Trạng thái</label>
                        <select class="form-control" id="status">
							<option value="0">Tất cả</option>
                            <option value="1">Đang giao</option>
                            <option value="2">Đã giao</option>
                            <option value="3">Kiểm kê thiếu</option>
                            <option value="4">Bị từ chối giao</option>
							<option value="5">Chưa kiểm kê</option>
                        </select>
                    </div>
					    <div class="col-md-2">
                        <label>Ngày giao (năm/tháng/ngày)</label>
                        <input type="text" class="form-control" id="delivery_date">
                    </div>
                    <div class="col-md-2">
                        <br />
                        <button class="btn btn-default" id="search"><span class="glyphicon glyphicon-search"></span>Tìm kiếm kết quả</button>
                    </div>
                </div>
                <div class="row mgt">
                    <div class="col-md-12">
                        <h2>Danh sách đơn giao hàng</h2> 
                        <table id="dorder-list" class="cell-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Mã giao hàng</th>
                                    <th>Mã đặt hàng</th>
                                    <th>Mã NPP</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng</th>
                                    <th>Ngày giao</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Mã giao hàng</th>
                                    <th>Mã đặt hàng</th>
                                    <th>Mã NPP</th>
                                    <th>Tổng tiền</th>
                                    <th>Tình trạng</th>
                                    <th>Ngày giao</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                            <tbody id="result">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
