@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello</h1>
    <p class="lead">@ViewBag.Message</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

