
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    
}

@section scripts{
    <!-- Footer -->
    <!-- start-smoth-scrolling -->
    <!-- ~/Scripts/Home -->
    <!--//pop-up-box -->


    <!-- //~/Scripts/Home -->
    <script type="text/javascript" src="~/Scripts/Home/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/Home/easing.js"></script>
    <script type="text/javascript">
	    jQuery(document).ready(function($) {
		    $(".scroll").click(function(event){
			    event.preventDefault();
			    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		    });
	    });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
		    $(document).ready(function() {
		    /*
			    var defaults = {
			    containerID: 'toTop', // fading element id
			    containerHoverID: 'toTopHover', // fading element hover id
			    scrollSpeed: 1200,
			    easingType: 'linear'
			    };
		    */
		    $().UItoTop({ easingType: 'easeOutQuart' });
		    });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
}




    <div class="w3layouts-banner">

        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Chúng tối cung cấp sữa bò chuẩn <span>ORGANIC</span></h3>
                                <p>Tự hào là đơn vị duy nhất tại Việt Nam sở hữu trang trại bò chuẩn ORGANIC</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Luôn cung cấp cho bạn chất lượng sữa <span>tốt nhất</span></h3>
                                <p>Vitamilk luôn luôn là người mang đến cho bạn vị sữa chất lượng nhất</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Tiếp tục mang đến nguồn năng lượng cho bạn <span>mọi ngày</span></h3>
                                <p>Với Vitamilk, bạn sẽ tràn đầy năng lượng để làm việc</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <script defer src="~/Scripts/Home/jquery.flexslider.js"></script>
        <script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
        </script>
        <!-- //flexSlider -->


    </div>

    <!-- //banner -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Auditing
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="~/Content/Home/images/ab.jpg" alt="" class="img-responsive" />
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui
                            dolorem eum fugiat quo voluptas nulla pariatur.
                            <i>
                                " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.
                            </i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- services -->
    <div class="services">
        <div class="container">
            <div class="w3ls-heading">
                <h2 class="h-two">Chào mừng đến với Vitamilk</h2>
                <p class="sub two">Nhà phân phối sữa hàng đầu tại Việt Nam.</p>
            </div>
            <div class="w3layouts-grids">
                <div class="services-right-grids">
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Internal Audit</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Accounting</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Audit</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="services-right-grids">
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-life-ring" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Support</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Review</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Attest Services</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci enim, posuere sed tincidunt et.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- banner-bottom -->
    <div class="banner-bottom-agileits" id="about">

        <div class="col-md-5 w3l_banner_bottom_right">
            <img src="~/Content/Home/images/ab.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-7 w3l_banner_bottom_left">
            <h3>Lorem ipsum dolor sit amet, consectetur . </h3>
            <p>
                Nullam at turpis vel sapien aliquam feugiat vitae vitae mi.
                Donec scelerisque, justo vel blandit tempor, quam tellus blandit lectus, ut viverra leo
                velit et quam. Phasellus viverra et quam efficitur rhoncus sollicitudin..
                <span>
                    Donec porttitor neque sed mauris sagittis, a auctor enim porta.
                    Sed tristique sollicitudin orci. Vivamus vulputate nunc id nulla elementum,nec vehicula ipsum ullamcorper.
                </span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner-bottom -->
    <!-- team -->
    <div class="team">
        <div class="container">
            <div class="w3ls-heading">
                <h3 class="h-two">Our Team</h3>
                <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
            </div>
            <div class="agile-team-grids">
                <div class="col-sm-3 team-grid">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Content/Home/images/t1.jpg" alt="" />
                            </div>
                            <div class="back">
                                <h4>Peter Parker</h4>
                                <p>Vestibulum </p>
                                <div class="w3l-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 team-grid">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Content/Home/images/t2.jpg" alt="" />
                            </div>
                            <div class="back">
                                <h4>Steven Wilson</h4>
                                <p>Quisque vitae</p>
                                <div class="w3l-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 team-grid">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Content/Home/images/t3.jpg" alt="" />
                            </div>
                            <div class="back">
                                <h4>Johan Botha</h4>
                                <p>Nulla molestie</p>
                                <div class="w3l-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 team-grid">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Content/Home/images/t4.jpg" alt="" />
                            </div>
                            <div class="back">
                                <h4>Mary Jane</h4>
                                <p>Aliquam non</p>
                                <div class="w3l-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- testimonials -->
    <div class="col-md-6 testimonials">
        <h3 class="w3ls_head">Testimonials</h3>
        <div class="testi-w3agileinfo">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src="~/Content/Home/images/1.png" alt="" /></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="~/Content/Home/images/3.png" alt="" /></a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="~/Content/Home/images/2.png" alt="" /></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="testi">
                    <h5>FILAN FISTEKU</h5>
                    <p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <h5>ULLAMCORPER FILAN </h5>
                    <p>Scelerisque ac augue id Donec libero dui, , tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <h5>SCELERISQUE AUGUE</h5>
                    <p>Nam ultrices lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapientristique Donec.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 testimonials-left-w3">
    </div>
    <div class="clearfix"></div>
    <!-- //testimonials -->
    <div class="newsletter-tp">
        <div class="container">
            <div class="w3ls-heading">
                <h3 class="h-two">Newsletter</h3>
                <p class="sub two">Morbi in dui pretium, finibus sapien vel.</p>
            </div>
            <div class="newsletter-agile">
                <form action="#" method="post">
                    <p>Send us Your Mail, we'll make sure You Never Miss a Thing!</p>
                    <input type="email" name="email" size="30" required="" placeholder="Enter your email here...">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
  


   
