
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    
}

@section scripts{
    <!-- Footer -->
    <!-- start-smoth-scrolling -->
    <!-- ~/Scripts/Home -->
    <!--//pop-up-box -->


    <!-- //~/Scripts/Home -->
    <script type="text/javascript" src="~/Scripts/Home/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/Home/easing.js"></script>
    <script type="text/javascript">
	    jQuery(document).ready(function($) {
		    $(".scroll").click(function(event){
			    event.preventDefault();
			    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		    });
	    });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
		    $(document).ready(function() {
		    /*
			    var defaults = {
			    containerID: 'toTop', // fading element id
			    containerHoverID: 'toTopHover', // fading element hover id
			    scrollSpeed: 1200,
			    easingType: 'linear'
			    };
		    */
		    $().UItoTop({ easingType: 'easeOutQuart' });
		    });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
}




    <div class="w3layouts-banner">

        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Chúng tối cung cấp sữa bò chuẩn <span>ORGANIC</span></h3>
                                <p>Tự hào là đơn vị duy nhất tại Việt Nam sở hữu trang trại bò chuẩn ORGANIC</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Luôn cung cấp cho bạn chất lượng sữa <span>tốt nhất</span></h3>
                                <p>Vitamilk luôn luôn là người mang đến cho bạn vị sữa chất lượng nhất</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls_banner_section">
                            <div class="container">
                                <h3>Tiếp tục mang đến nguồn năng lượng cho bạn <span>mọi ngày</span></h3>
                                <p>Với Vitamilk, bạn sẽ tràn đầy năng lượng để làm việc</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <script defer src="~/Scripts/Home/jquery.flexslider.js"></script>
        <script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
        </script>
        <!-- //flexSlider -->


    </div>

    <!-- //banner -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Auditing
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="~/Content/Home/images/ab.jpg" alt="" class="img-responsive" />
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui
                            dolorem eum fugiat quo voluptas nulla pariatur.
                            <i>
                                " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.
                            </i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- services -->
    <div class="services">
        <div class="container">
            <div class="w3ls-heading">
                <h2 class="h-two">Chào mừng đến với Vitamilk</h2>
                <p class="sub two">Nhà phân phối sữa hàng đầu tại Việt Nam.</p>
            </div>
            <div class="w3layouts-grids">
                <div class="services-right-grids">
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Đối tác hoàn hảo</h5>
                            <p>Vitamilk luôn mang đến bạn những điều hài lòng nhất khi bạn trở thành nhà phân phối của Vitamilk.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-calculator" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Không lo về giá</h5>
                            <p>Vitamilk sẽ giúp đỡ bạn một phần, bạn có thể ghi nợ mà không cần thanh toán toàn bộ.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Sản phẩm đa dạng</h5>
                            <p>Vitamilk luôn đa dạng trong nhiều loại sản phẩm về sữa.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="services-right-grids">
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-life-ring" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Hỗ trợ</h5>
                            <p>Đội ngũ nhân viên của Vitamilk sẽ luôn đồng hành bên cạnh 24/7.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Đánh giá</h5>
                            <p>Trong 5 năm liền, Vitamilk vinh dự nhận giải thưởng công ty nổi bật.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 services-right-grid">
                        <div class="services-icon hvr-radial-in">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>Khách hàng trên hết</h5>
                            <p>Vitamilk luôn cho rằng khách hàng luôn là người phải ưu tiên đầu tiên.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //services -->
    <!-- banner-bottom -->
    <div class="banner-bottom-agileits" id="about">

        <div class="col-md-5 w3l_banner_bottom_right">
            <img src="~/Content/Home/images/ab.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-7 w3l_banner_bottom_left">
            <h3>Đội ngũ chuyên gia nước ngoài giàu kinh nghiệm </h3>
            <p>
               Sở hữu đội ngũ chuyên gia đến từ Mỹ giàu kinh nghiệm trong ngành công nghiệp sữa, Vitamilk luôn mang đến cho mọi người một chất lượng sữa tuyệt vời nhất, không chỉ vậy mà Vitamilk luôn biết cách tạo ra nhiều loại sữa khách nhau nhằm phục vụ cho nhiều lứa tuổi khác nhau.
                <span>
                    Vitamilk chắc chắn sẽ không khiến bạn thất vọng hãy đến và hợp tác ngay với chúng tôi.
                </span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner-bottom -->
    <!-- team -->
    <div class="team">
        <div class="container">
            <div class="w3ls-heading">
                <h3 class="h-two">Thành viên nhóm <b>Save My Life</b></h3>
                <p class="sub two">Đã tham gia xây dựng đồ án suốt 2 tháng qua.</p>
            </div>
            <div class="agile-team-grids">
                <div class="col-sm-3 team-grid">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Content/Home/images/avt/trimap.jpg" alt="" />
                            </div>
                            <div class="back">
                                <h4>Vũ Minh Trí</h4>
                                <p>1412579</p>
                                <div class="w3l-social">
                                    <ul>
                                        <li><a href="https://fb.com/itvmtri"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- testimonials -->
    <div class="col-md-6 testimonials">
        <h3 class="w3ls_head">Những nhà sáng lập Vitamilk</h3>
        <div class="testi-w3agileinfo">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src="~/Content/Home/images/1.png" alt="" /></a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="~/Content/Home/images/3.png" alt="" /></a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="~/Content/Home/images/2.png" alt="" /></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="testi">
                    <h5>Batman</h5>
                    <p>Đồng sáng lập Vitamilk và là anh hùng tại Gotham.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <h5>Wonder Woman</h5>
                    <p>Nữ thần tại bộ lạc Amazon nhưng cũng là đồng sáng lập Vitamilk.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <h5>Peter Parker</h5>
                    <p>Là một siêu anh hùng nhưng giả dạng dưới danh nghĩa một chuyên viên phân tích hiện trường vụ án.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 testimonials-left-w3">
    </div>
    <div class="clearfix"></div>
    <!-- //testimonials -->
    <div class="newsletter-tp">
        <div class="container">
            <div class="w3ls-heading">
                <h3 class="h-two">Đăng ký ngay</h3>
                <p class="sub two">Hãy đăng ký trở thành nhà phân phối ngay để nhân được nhiều ưu đãi từ Vitamilk.</p>
            </div>
            <div class="newsletter-agile">
                <a href="@Url.Action("Create", "PDistributor")" class="btn btn-primary btn-lg">Đăng ký trở thành nhà phân phối</a>
            </div>
        </div>
    </div>
  


   
