@model SML_QLNPP.Models.SalesReportViewModel
@using Newtonsoft.Json;
@{
    ViewBag.Title = "BusinessReport";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/Promotion/promotion.js"></script>*@
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin tìm kiếm</h3>
    </div>
    @using (Html.BeginForm("BusinessReport", "SaleReport", FormMethod.Post))
    {
    <div class="box-body">
        <div><label>Lưu lý:</label><i> Chọn tháng hoặc quý trong năm của một nhà phân phối</i></div>
        <div class="col-md-2">
            <label>-----Tháng-----</label>
            @Html.DropDownList("ListMonth", new List<SelectListItem>() { new SelectListItem {Text="Chọn tháng...",Value="0",Selected=true },
              new SelectListItem {Text="Tháng 1",Value="1" },
              new SelectListItem {Text="Tháng 2",Value="2"},
              new SelectListItem {Text="Tháng 3",Value="3"},
              new SelectListItem {Text="Tháng 4",Value="4" },
              new SelectListItem {Text="Tháng 5",Value="5" },
              new SelectListItem {Text="Tháng 6",Value="6" },
              new SelectListItem {Text="Tháng 7",Value="7"},
              new SelectListItem {Text="Tháng 8",Value="8"},
              new SelectListItem {Text="Tháng 9",Value="9" },
              new SelectListItem {Text="Tháng 10",Value="10"},
              new SelectListItem {Text="Tháng 11",Value="11" },
              new SelectListItem {Text="Tháng 12",Value="12" }, }, new { @class = "form-control", @required = "required" })
        </div>

        <div class="col-md-2">
            <label>------Qúy-----</label>
            @Html.DropDownList("ListQuartar", new List<SelectListItem>() { new SelectListItem {Text="Chọn quý...",Value="0",Selected=true },
              new SelectListItem {Text="Quý 1",Value="1" },
              new SelectListItem {Text="Quý 2",Value="2"},
              new SelectListItem {Text="Quý 3",Value="3"},
              new SelectListItem {Text="Quý 4",Value="4" }, }, new { @class = "form-control", @required = "required" })
            
        </div>
        <div class="col-md-2">
            <label>------Năm------</label>
            @Html.DropDownList("ListYear", new List<SelectListItem>() { new SelectListItem {Text="Chọn năm...",Value="0",Selected=true },
              new SelectListItem {Text="2017",Value="2017" },
              new SelectListItem {Text="2018",Value="2018"},
              new SelectListItem {Text="2019",Value="2019"},
              new SelectListItem {Text="2020",Value="2020" },
              new SelectListItem {Text="2021",Value="2021" },
              new SelectListItem {Text="2022",Value="2022" },
              new SelectListItem {Text="2023",Value="2023"},
              new SelectListItem {Text="2024",Value="2024"},
              new SelectListItem {Text="2025",Value="2025" },
              new SelectListItem {Text="2026",Value="2026"},
              new SelectListItem {Text="2027",Value="2027" },
              new SelectListItem {Text="2028",Value="2028" }, }, new { @class = "form-control", @required = "required" })
        </div>

        <div class="col-md-2">
            <label>Nhà Phân Phối</label>
            
        </div>
    </div>
    }
    <div class="text-center">
        <h4 style="text-align:center; font-weight: bold">Tổng Tiền: </h4>
        <h4 style="text-align:center; font-weight: bold">Số Lượng Hàng Hóa: </h4>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary" id="search">Tìm kiếm kết quả</button>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh sách đơn đặt hàng</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        <table id="order-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Đơn Hàng</th>
                                    <th>Ngày Lập</th>
                                    <th>Mã Nhà Phân Phối</th>
                                    <th>Tên Nhà Phân Phối</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Tổng Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>


