
@{
    ViewBag.Title = "ListBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Promotion/promotion.js"></script>
}
<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Shared/_SidebarSalesReport.cshtml")
        <div class="col-sm-10 col-md-10">
            <div class="well">
                <div class="row">
                    
                    <div class="col-md-2">
                        <label>Ngày bắt đầu (năm/tháng/ngày)</label>
                        <input type="text" class="date form-control" id="beginDate">
                    </div>
                    <div class="col-md-2">
                        <label>Ngày kết thúc (năm/tháng/ngày)</label>
                        <input type="text" class="date form-control" id="endDate">
                    </div>
                    <div class="col-md-2">
                        <label>Nhà Phân Phối</label>
                        <select>
                            <option value="volvo">Chọn nhà phân phối</option>
                            <option value="saab">Nhà Phân Phối A</option>
                            <option value="opel">Nhà Phân Phối B</option>
                            <option value="audi">Nhà Phân Phối C</option>
                        </select>

                    </div>
                    <div class="col-md-2">
                        <br />
                        <button class="btn btn-default" id="search">Tìm kiếm kết quả</button>
                    </div>
                </div>
                <div class="row mgt">
                    <div class="col-md-12">
                        <h2>Danh sách hóa đơn</h2>
                        <table id="order-list" class="cell-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Mã Nhân Viên</th>
                                    <th>Mã Nhà Phân Phối</th>
                                    <th>Tên Nhà Phân Phối</th>
                                    <th>Ngày Lập</th>
                                    <th>Tổng Tiền</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Mô Tả</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Hóa Đơn</th>
                                    <th>Mã Nhân Viên</th>
                                    <th>Mã Nhà Phân Phối</th>
                                    <th>Tên Nhà Phân Phối</th>
                                    <th>Ngày Lập</th>
                                    <th>Tổng Tiền</th>
                                    <th>Loại Hóa Đơn</th>
                                    <th>Mô Tả</th>
                                </tr>
                            </tfoot>
                            <tbody id="result"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


