@model DataModel.Consignee

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Thông tin người liên hệ</h3>
    </div>
    <div class="box-body">
        <div class="col-md-4">
            @Html.HiddenFor(m => m.idConsignee)
            <label>Tên người liên hệ: </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <label>Số điện thoại: </label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>
</div>
