@{
    Layout = "~/Views/Shared/_ALayout.cshtml";
}


@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Product/product.js"></script>
}



<div class="box box-info">
    <div class="box-header with-border">
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Nhập mã, tên sản phẩm" id="keyword">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="search">Tìm kiếm kết quả</button>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Danh sách sản phẩm</h3>&ensp;&ensp;&ensp;&ensp;&ensp;
                <a href="/product/create" title="Tạo sản phẩm"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i></a>
            </div>
            @*<div class="box-header col-md-2">
                
            </div>*@
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="col-sm-12">
                            <table id="product-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Đơn giá</th>
                                        <th>Tình trạng</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        <!-- /.box -->

    </div>
</div>
