@model SML_QLNPP.Models.ContractViewModel
@{
    ViewBag.Title = "Contract";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@{
    var check = ViewBag.checkID;
    var isNull = ViewBag.ID_IsNull;
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/jquery-ui.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Order/datatables.min.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
    <script type="text/javascript" src="~/Scripts/Order/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Order/datatables.min.js"></script>
    <script>
        $('#dis-list').DataTable({
            "oLanguage": {
                "oPaginate": {
                    "sNext": "Tiếp",
                    "sPrevious": "Trước"
                },
                "sInfo": "Hiển thị _START_ đến _END_ trên _TOTAL_ nhà phân phối",
                "sZeroRecords": "Không tìm thấy nhà phân phối",
                "sInfoEmpty": ""
            },
            "searching": false,
            "bLengthChange": false,
            //"bInfo": false
        });
    </script>
}

<div class="box box-info">
    @using (Html.BeginForm("ContractSearch", "Contract", FormMethod.Get))
    {
        <div class="box-body" style="text-align: right">
            <span>
                <label> Tìm kiếm </label>
                @Html.TextBoxFor(model => model.keyword)
                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                @Html.DropDownListFor(model => model.criterion, new SelectListItem[]{
                    new SelectListItem() {Text = "Mã nhà phân phối", Value="1"},
                    new SelectListItem() {Text = "Mã hợp đồng", Value="2"},
                    new SelectListItem() {Text = "Hợp đồng gần hết hạn", Value="3"}})
            </span>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h2 class="box-title">Danh sách hợp đồng</h2>
            </div>
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="col-sm-12">
                        @if (check == false)
                        {
                            <strong style="color:red"> Mã hợp đồng không hợp lệ </strong>
                        }
                        else
                        {
                            <table id="con-list" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>Mã hợp đồng</th>
                                        <th>Nhà phân phối</th>
                                        <th>Thời gian bắt đầu</th>
                                        <th>Thời gian kết thúc</th>
                                        <th>Tình trạng</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                @if (Model != null)
                                {
                                    @RenderPage("Contract_List.cshtml")
                                }
                                else
                                {

                                }
                            </table>
                        }

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
