@{
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@section css{
    <link href="~/Content/admin.css" rel="stylesheet" type="text/css" media="all" />
}

@section scripts{
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Trang quản trị hệ thống Vitamilk - Nhà phân phối sữa hàng đầu Việt Nam</h3>
    </div>
</div>

